<!-- START FOOTER -->
<div class="footer">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <span class="apple-link">Whisper is a fun project that lets you share feelings and
                    do simple survays.</span>
            </td>
        </tr>
        <tr>
            <td class="content-block powered-by">
                Author <a href="https://www.linkedin.com/in/md-reyad-hossain-3036ab194/">MD Reyad
                    Hossain</a>.
            </td>
        </tr>
    </table>
</div>
<!-- END FOOTER -->