<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reporter Email</title>
    <!-- <link rel="stylesheet" href="/css/email.css"> -->
    <%- include('./styles.ejs') %>
</head>

<body class="">
    <span class="preheader"></span>